@font-face {
    font-family: "meriiweather";
    src: url(/fonts/Merriweather-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "vazir";
    src: url(/fonts/Vazir.woff2) format("woff2");
}
@font-face {
    font-family: "tanha";
    src: url(/fonts/Tanha.woff2) format("woff2");
}