.pad-t-15{
    padding-right: 15px;
}
.mb-20{
    margin: 0 0 2rem 0;
}
.fweight-bold{
    font-weight: bold;
}
.opa-60{
    opacity: 60%;
}
.color-black-7{
    color: rgb(0, 0, 0, 0.8);
}
.color-black{
    color: rgb(0, 0, 0);
}
.pad-t-3{
    padding-top: 0.3rem;
}
.mb-8{
    margin-bottom: 8rem;
}
.dis-flex{
    display: flex;
}
.ai-center{
    align-items: center;
}
.jc-center{
    justify-content: center;
}
.jc-spacebet{
    justify-content: space-between;
}
.gap-12{
    gap: 1.2rem;
}
.gap-5{
    gap: 0.5rem;
}
.gap-20{
    gap: 2rem;
}
.width-960{
    width: 96rem;
}
.flex-dir-col{
    flex-direction: column;
}
.font-s-18{
    font-size: 1.8rem;
}
.font-w-700{
    font-weight: 700;
}
.color-white{
    color: rgb(255, 255, 255);
}
.back-white{
    background-color: rgb(255, 255, 255);
}
.font-s-12{
    font-size: 1.2rem;
}