/* padding */
.pad-r-15{
    padding-right: 15px;
}
.pad-0{
    padding: 0;
}
.pad-t-3{
    padding-top: 0.3rem;
}
.pad-t-4{
    padding-top: 0.4rem;
}
.pad-t-8{
    padding-top: 0.8rem;
}
.pad-10-5{
    padding: 1.2rem 2rem;
}
.pad-b-20{
    padding-bottom: 2rem;
}
/*  */
/* margin */
.mb-8{
    margin-bottom: 8rem;
}
.mb-20{
    margin: 0 0 2rem 0;
}
.my-30{
    margin: 5rem 0;
}
.m-0{
    margin: 0;
}
.mx-auto{
    margin: 0 auto;
}
.m-30{
    margin: 3rem;
}
/*  */
/* font-size */
.font-s-18{
    font-size: 1.8rem;
}
.font-s-12{
    font-size: 1.2rem;
}
.font-s-30{
    font-size: 3rem;
}
.font-s-20{
    font-size: 2rem;
}
/*  */
/* font-weight */
.bold{
    font-weight: bold;
}
/*  */
.opa-60{
    opacity: 60%;
}
/*  */
/* color */
.color-black-7{
    color: rgb(0, 0, 0, 0.8);
}
.color-black{
    color: rgb(0, 0, 0);
}
.color-white{
    color: rgb(255, 255, 255);
}
.back-white{
    background-color: rgb(255, 255, 255);
}
/*  */
/* flex */
.dis-flex{
    display: flex;
}
.flex-dir-col{
    flex-direction: column;
}
.ai-center{
    align-items: center;
}
.jc-center{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}
.as-fstart{
    align-self: flex-start;
}
/*  */
/* gap */
.gap-12{
    gap: 1.2rem;
}
.gap-5{
    gap: 0.5rem;
}
.gap-20{
    gap: 2rem;
}
/*  */
/* width */
.max-wid-960{
    max-width: 96rem;
}
.wid-810{
    width: 61rem;
}
.width-26{
    width: 2.6rem;
}
/*  */
/* height */
.height-26{
    height: 2.6rem;
}
/*  */
/* border */
.border-light{
    border: 1px solid rgb(0, 0, 0, 0.2);
}
.rounded-full{
    border-radius: 10rem;
}
/*  */
.text-center{
    text-align: center;
}