html{
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
}
*, *:after, *:before{
    box-sizing: inherit;
}
body{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "vazir";
}
.darkmode div.search-modal,
.darkmode div.blog-posts-wrapper{
    background-color: rgb(2, 6, 23);
}
.darkmode input.search-input{
    background-color: rgb(2, 6, 23);
    border: 1px solid rgb(255, 255, 255, 0.2);;
    color: rgb(255, 255, 255);
}
.darkmode div.modal-signin{
    background-color: rgb(30, 41, 59);
}
.darkmode div.modal-signin p{
    color: rgb(248, 250, 252);
}
.darkmode a.signin-btn{
    background-color: rgb(25, 118, 210);
}
.darkmode section.profile-informations-section{
    background-color: rgb(2, 6, 23);
    opacity: 90%;
}
.darkmode a.profile-name,
.darkmode a.blog-title,
.darkmode p.profile-skils,
.darkmode p.profile-followers,
.darkmode div.footer-links,
.darkmode span.modal-web{
    color: rgb(255, 255, 255);
}
.darkmode a.blog-summary,
.darkmode span.blog-date,
.darkmode span.blog-time{
    color: rgb(148, 163, 184);
}
.darkmode footer{
    background-color: rgb(0, 0, 0);
}
.darkmode h3.impressum-title,
.darkmode section.copy-right-wrapper a,
.darkmode div.powered-title,
.darkmode a.place-writer span,
.darkmode span.copy-right-title,
.darkmode h2.searchbox-title{
    color: rgb(203, 213, 225);
}
.darkmode a.place-writer,
.darkmode section.footer-links-wrapper{
    border: 1px solid rgb(255, 255, 255, 0.2);
    background-color: rgb(0, 0, 0);
}
.container{
    max-width: 140rem;
}
.header-container{
   margin: 3rem;
}
.logo-tools-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.logo-wrapper{
    display: flex;
}
.site-logo{
    width: 26rem;
}
.tools-wrapper{
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tools-btn{
    width: 3.8rem;
    height: 3.8rem;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.back-modal{
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgb(255, 255, 255, 0);
    border-radius: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    display: none;
}
.modal-signin{
    width: 30rem;
    height: 41rem;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 8px 14px -4px rgb(0, 0, 0, 0.2);
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 1rem;
    position: fixed;
    right: 5rem;
    top: 10rem;
}
.modal-signin a{
    text-decoration: none;
}
.modal-signin p{
    margin: 0;
    font-size: 1.5rem;
}
.modal-title{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 2rem 2rem 1rem;
}
.modal-web{
    font-size: 2.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-top: 0.3rem;
}
.signin-div{
    padding: 2rem;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    border-top: 1px solid rgb(0, 0, 0, 0.1);
}
.modal-information-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.6rem;
}
.modal-img{
    width: 6rem;
    height: 6rem;
    border-radius: 4rem;
}
.modal-id-wrapper{

}

.signin-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.6rem 1rem;
    margin-top: 2rem;
    background: rgb(0, 0, 255, 0.7);
    color: white;
    border-radius: 3rem;
}
.what-web-wrapper{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.publish-wrapper{
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem 2rem;
}
.social-network-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.back-search-modal{
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    display: none;
}
.search-modal{
    width: 92rem;
    height: 16rem;
    z-index: 101;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    padding: 2.5rem 3rem 3rem;
    position: fixed; 
    left: 50%;
    top: 12.6rem;
    transform: translateX(-50%);
}
.search-input{
    width: 100%;
    height: 5rem;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 4rem;
    padding-left: 2rem;
    /* outline: 1px solid rgb(37 99 235); */
}
.search-article-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 0.6rem;
}
.searchbox-title{
    font-size: 1.7rem;
    font-weight: 500;
    padding-top: 0.4rem;
    color: rgb(100, 116, 139);
}
.social-network-icons{
    width: 26rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
div.social-network-icons a{
    width: 3.8rem;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.social-network-icons a:hover,
button.tools-btn:hover{
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.1);
}
.width-icon{
    width: 2rem;
    height: 2rem;
}
.header-btns{
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.follow-btn{
    width: 11rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0);
    padding-top: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.follow-btn:hover{
    background-color: rgb(0, 0, 0, 0.04);
}
.message-plus-btn{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    background: transparent;
    cursor: pointer;
}
.menu{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.5rem;
}
nav.menu a{
    width: auto;
    text-decoration: none;
    color: black;
    opacity: 70%;
    white-space: nowrap;
    margin: 0 1.5rem;
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
}
nav.menu a.home-menu{
    opacity: 1;
    font-weight: bold;
}
nav a:hover{
    border-radius: 0.7rem;
    background-color: rgb(0, 0, 0, 0.1);
}
.profile-informations{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 0.4rem;
}
.profile-informations *{
    margin: 0;
}
.profile-informations h1{
    line-height: 3rem;
}
.profile-img{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}
.profile-name{
    font-size: 2rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.profile-followers{
    font-size: 1.4rem;
    opacity: 70%;
}
.profile-skils{

}
.text-align{
    display: block;
    text-align: center;
}
.header-hr{
    opacity: 25%;
    margin-top: 4rem;
}
.blog-posts-wrapper{
    width: auto;
    padding-top: 4rem;
    padding-bottom: 6rem;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.blog-posts-wrapper a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.pinned-wrapper{
    display: flex;
    width: 75rem;
}
.pinned-title{
    font-size: 1.8rem;
    color: blue;
    font-weight: bold;
}
.post-wrapper{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5rem;
}
.blog-information{

}
.blog-information span{
    color: rgb(100, 116, 139);
}
.blog-information h2{
    width: 44rem;
    margin: 0;
    line-height: 4rem;
}
.blog-title{
    font-size: 3.2rem;
}
.blog-details{
    display: flex;
    gap: 1rem;
}
.blog-details span{
    font-size: 1.5rem;
}
.blog-time{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
.book-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.blog-summary{
    display: block;
    width: 44rem;
    margin: 0;
    font-size: 1.6rem;
}
.blog-summary a{
    opacity: 80%;
}
.blog-image{
    width: 28rem;
    height: 14rem;
    border-radius: 0.7rem;
}
.load-more-btn{
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 1rem;
    border-radius: 4rem;
    padding: 1rem 34rem;
    border: none;
    cursor: pointer;
}
.load-more-btn:hover{
    background-color: rgb(240, 240, 240);
}
.load-more-title{
    color: rgb(37 99 235);
    font-size: 2rem;
    padding-top: 0.2rem;
}
footer{
    background-color: rgb(227, 242, 253);
    padding-top: 8rem;
}
.footer-links-wrapper{
    width: 84rem;
    height: 14rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto 4rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}
.copy-right-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.copy-right-wrapper *{
    color: rgb(71, 85, 105);
}
.componey-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    margin: 4rem;
}
.componey-wrapper div{
    color: rgb(71, 85, 105);
    font-size: 1.5rem;
}
.place-writer span{
    color: rgb(71, 85, 105);
    font-weight: bold;
}
.place-writer{
    display: flex;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1rem 2rem 0.5rem;
    gap: 0.5rem;
    text-decoration: none;
}
.place-writer:hover{
    border: 1px solid rgb(0, 0, 0, 0.4);
}
.place-writer:hover span{
    color: rgb(0, 0, 0);
}
/* page2 style */
.header-page2{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 300ms ease-in-out;
    z-index: 99;
    background-color: rgb(255, 255, 255);
}
.header-container-page2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
}
.site-logo-page2{
    width: 17.5rem;
}
.article-title{
    font-size: 5rem;
    font-weight: 700;
}
.featured-wrapper{
    display: flex;
    align-items: center;
    background-color: rgb(15, 23, 42);
    font-size: 1.4rem;
    gap: 1.8rem;
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
}
.people-like-btn{
    width: 13rem;
    background-color: rgb(241, 245, 249);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: none;
    border-radius: 4rem;
    padding: 0.6rem 0.6rem 0.6rem 1rem;
}
.rounded-img{
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 4rem;
    margin-left: -1.2rem;
}
.catalog-of-article{
    width: 80rem;
    padding: 0 1.6rem 1.6rem 2rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 0.6rem;
}
.catalog-of-article h2{
    color: rgb(0, 0, 0, 0.8);
}
.catalog-of-article p{
    margin: 0;
}
.catalog-of-article div{
    width: 100%;
    border-radius: 0.5rem;
    padding: 0 0 0 1.6rem;
}
.catalog-of-article div:hover,
.catalog-of-article a:hover{
    background-color: rgb(240, 240, 240);
}
.catalog-of-article a{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    color: rgb(71, 85, 105);
    padding: 0.8rem 0;
}
.catalog-of-article img{
    width: 1.2rem;
    height: 1.2rem;
}
.article-information{
    width: 80rem;
    margin: 0 auto;
}
.article-information h3{
    font-size: 2.8rem;
    margin-top: 4rem;
    margin-bottom: 0;
}
.article-information h4{
    font-size: 2.2rem;
    margin-top: 5rem;
    margin-bottom: 0;
}
.article-information p{
    font-size: 2rem;
}
.article-social-btn{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
}
.article-social-btn:hover{
    background-color: rgb(240, 240, 240);
    border-radius: 10rem;
}